:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: linear-gradient(135deg, #0f224e, #0b1222, #000000);
  color: #eee;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

:host::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://res.cloudinary.com/djbpwawux/image/upload/v1714301234/victor-freitas-JbI04nYfaJk-unsplash_a5c84w.jpg") center/cover no-repeat;
  opacity: 0.1;
  z-index: -1;
}

.nutrition-guide-container {
  background: linear-gradient(135deg, #162f68, #0f172a, #000000);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  max-width: 1300px;
  width: 98vw;
  overflow-x: auto;
  margin: 2rem auto;
  transform: none;
  color: #eee;
}

.nutrition-guide {
  font-family: 'Roboto', sans-serif;
  color: #ccc;
}

.nutrition-guide h2 {
  text-align: center;
  font-size: 36px;
  color: #ff9966;
  margin-bottom: 1rem;
}

.nutrition-guide p {
  font-size: 22px;
  margin-bottom: 8px;
  color: #ccc;
}

.nutrition-guide p strong {
  color: #ff9966;
}

.weekly-table table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e1e2f;
  border-radius: 8px;
  overflow: hidden;
  font-size: 14px;
  color: #ccc;
}

.weekly-table th,
.weekly-table td {
  padding: 8px 10px;
  border: 1px solid #552a00;
  text-align: center;
}

.weekly-table th {
  background-color: #ff7043;
  color: #121212;
}

.weekly-table tr:nth-child(odd) {
  background-color: #4e342e;
}

.weekly-table tr:nth-child(even) {
  background-color: #6d4c41;
}

.weekly-table tr:hover {
  background-color: #bf7e57;
  transform: scale(1.02);
  transition: all 0.3s ease;
  cursor: pointer;
}

.error-message {
  padding: 15px;
  background-color: #ff6f61;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  max-width: 400px;
  margin: 1rem auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
