input.form-control {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    outline: none;
}

input.form-control:focus {
    box-shadow: none;
    border-color: #fff;
}

label {
    color: #ccc;
}

.is-valid {
    border-bottom-color: lightgreen;
}

.is-invalid {
    border-bottom-color: red;
}

.invalid-feedback {
    font-size: 0.8rem;
    color: lightcoral;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}





