<div class="dashboard-container">
  <aside class="sidebar">
    <h2 class="sidebar-title">Wellness Core</h2>

    <nav class="nav-links">
      
    <div class="nav-item" [routerLink]="['/questions']">
      <mat-icon>groups</mat-icon>
      <span>Community</span>
    </div>
    
    <div class="nav-item" [routerLink]="['/recovery']">
      <mat-icon>health_and_safety</mat-icon>
      <span>recovery</span>
    </div>

    <div class="nav-item">
      <mat-icon>calendar_today</mat-icon>
      <span>Session Reservation</span>
    </div>
    
      <a class="nav-item" routerLink="/fitness-check">
        <mat-icon>fitness_center</mat-icon>
        <span>Fitness Check</span>
      </a>

      <a class="nav-item" routerLink="/nutrition-guide">
        <mat-icon>restaurant_menu</mat-icon>
        <span>Nutrition Guide</span>
      </a>

      <a class="nav-item" routerLink="/questions">
        <mat-icon>groups</mat-icon>
        <span>Community</span>
      </a>

      <a class="nav-item" routerLink="/profiles">
        <mat-icon>search</mat-icon>
        <span>Explore Members</span>
      </a>

      <a *ngIf="accountService.isAdmin()" class="nav-item admin-link" routerLink="/admin">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin</span>
      </a>

      <div (click)="logout()" class="nav-item logout">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </div>
    </nav>
  </aside>

  <main class="main-content">
    <header class="header">
      <h1 class="page-title">Fitness Dashboard</h1>
      <!-- <button mat-raised-button color="primary" class="create-challenge-btn">
        <mat-icon>add</mat-icon> New Challenge
      </button> -->
      <div class="profile-circle page-title" [routerLink]="['/profile', username]" title="Profile">
        <mat-icon>person</mat-icon>
      </div>
    </header>

    <section class="challenge-section">
      <div class="challenge-card mat-elevation-z4">
        <h3>No Challenges Today</h3>
        <p>Come back later or create your own challenge!</p>
      </div>
    </section>

    <section class="metrics-grid">
      <div class="metric-card mat-elevation-z2">
        <h3>Recovery</h3>
        <div class="metric-value">78%</div>
        <p class="metric-description">Body recovery today</p>
      </div>

      <div class="metric-card mat-elevation-z2">
        <h3>Steps</h3>
        <div class="metric-value">4,280</div>
        <p class="metric-description">Steps walked</p>
      </div>

      <div class="metric-card mat-elevation-z2">
        <h3>Nutrition</h3>
        <div class="metric-value">86/100</div>
        <p class="metric-description">Meal quality score</p>
      </div>
    </section>
  </main>
</div>
