
:host {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    color: white;
}

:host::before{
    
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://res.cloudinary.com/djbpwawux/image/upload/v1746460274/466783462_3053067041508077_3838981021328059774_n_xtu50m.jpg"),
        #050505;
    background-position: fixed;
    background-size: cover;
    z-index: -1;
    filter: blur(3px);
}



h1, p, label {
    color: white;
}

button {
    margin-top: 20px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s ease;
}
form {
    display: flex;
    flex-direction: column;
}

.wrapper{
    width: 490px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid #ffffff80;
    backdrop-filter: blur(8px);
}

h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}


.wrapper a{
    color: #efefef;
    text-decoration: underline;
}




