:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background-color: #1e1e2f;
  color: #eee;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

:host::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://res.cloudinary.com/djbpwawux/image/upload/v1714301234/victor-freitas-JbI04nYfaJk-unsplash_a5c84w.jpg") center/cover no-repeat;
  opacity: 0.1;
  z-index: -1;
}

.page-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #03dac6;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.form-table-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8rem;
  width: 100%;
  max-width: 1300px;
}

form {
  background-color: #23353d;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  color: #eee;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
  color: #ccc;
}

input,
select {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.5rem;
  background-color: #252525;
  border: 1px solid #444;
  border-radius: 8px;
  font-size: 1rem;
  color: #eee;
}

input:focus,
select:focus {
  outline: none;
  border-color: #03dac6;
}

button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.8rem;
  background-color: #03dac6;
  color: #121212;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #00c4b4;
  transform: scale(1.05);
}

h2,
h3 {
  text-align: center;
  color: #03dac6;
  margin-top: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: 1rem auto;
}

li {
  background-color: #1e1e2f;
  margin-bottom: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #ccc;
  font-size: 0.95rem;
}

.classification-table {
  background-color: #1e1e2f;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  width: 100%;
  color: #eee;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.75rem;
  text-align: center;
  border-bottom: 1px solid #333;
  font-size: 1rem;
  color: #ccc;
}

thead {
  background-color: #089082;
  color: #121212;
  font-size: 1.1rem;
}

tbody tr:nth-child(1) { background-color: #263238; }
tbody tr:nth-child(2) { background-color: #2c3e50; }
tbody tr:nth-child(3) { background-color: #37474f; }
tbody tr:nth-child(4) { background-color: #424242; }
tbody tr:nth-child(5) { background-color: #455a64; }
tbody tr:nth-child(6) { background-color: #546e7a; }

tbody tr:hover {
  background-color: #1f3a31;
  transform: scale(1.02);
  transition: all 0.3s ease;
  cursor: pointer;
}
